<div id="about" data-template="site/about">
    <div id="about-component">
        <div class="about-text">
            <p><span>M</span><span>y</span><span>,</span> <span>M</span><span>y</span><span>s</span><span>e</span><span>l</span><span>f</span> <span>&</span> <span>I</span></p>
            <p>I am a front-end Devloper located in Pakistan. I have a serious passionate about UI that effects. animation and creation of inituitive deisgn, dynamically user experice</p>
            <p>Well organized person, person, problem solver, independent employee with high attention to details. Fan of Minimalist modern design outdoor activites. Strickly hate of TV serials and Too like of English Litrature. A family person</p>
            <p>Interested in the entire Frontend specturn and working on ambious projects with positive prople</p>
            <a href="#">Lets make something special</a>
        </div>
        <div class="about-img">
            <img src="../../../images/portfollio/front-end.png" alt="">
        </div>
     </div>
</div>