<div id="contactpage" data-template="site/contactme">
    <div id="contactme">
        <div class="contact-input">
            <p>
                <span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span>
                <span>m</span><span>e</span>
            </p>
            <p>
                If someone is interested in my project and want to discuss business with
                me then take a deep breath and sleep. Because i am not available (Its
                dummy text not real)
            </p>
            <div class="flex first-fields">
                <input type="text" placeholder="Name" />
                <input type="text" name="" id="" placeholder="Email" />
            </div>
            <div class="input-area">
                <input type="text" name="" id="" placeholder="Subject" />
                <textarea name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
            </div>
            <button>Hire Me</button>
        </div>
        <div class="maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13623.737161217823!2d71.42988813424535!3d31.388375320169125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x392438fa87b1fec9%3A0x8e5728bdddb32975!2sMankera%2C%20Bhakkar%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1651812683545!5m2!1sen!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>