<div data-template="site/home" id="home">
  <div id="portfolio-home">
    <div class="intro">
        <p><span>H</span><span>i</span><span>,</span></p>
        <p>
            <span>I</span><span>'</span><span>m</span>
            <span>S</span><span>u</span><span>l</span><span>t</span><span>a</span><span>n</span><span>,</span>
        </p>
        <p>
            <span>W</span><span>e</span><span>b</span>
            <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
        </p>
        <button class="contact-button">
            Contact me !
        </button>
    </div>
</div>
<div id="my-portfolio">
  <p class="portfolio">
    <span>M</span><span>y</span> <span>P</span><span>o</span><span>r</span
    ><span>t</span><span>i</span><span>l</span><span>l</span><span>i</span
    ><span>o</span>
  </p>
  <p>
    A small gallery of recent projects chosen by me. I have done them all
    together with amazing people from companies around the globe. It only a drop
    in ocean compare the entire list
  </p>
  <p>Interested to see more? Please vist <a href="#">My Work</a> page.</p>
  <div class="gallery">
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />

      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
    <div class="box1">
      <img src="https://source.unsplash.com/random" alt="" />
      <p>This is site which i not created</p>
    </div>
  </div>
</div>

<div id="myself">
  <div class="text-intro">
      <p><span>M</span><span>e</span><span>,</span> <span>M</span><span>y</span><span>s</span><span>e</span><span>l</span><span>f</span> <span>a</span><span>n</span><span>d</span> <span>I</span></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse dolorem sunt perferendis earum corporis assumenda dolorum veniam, temporibus est ipsa quisquam unde, perspiciatis voluptate obcaecati vero reiciendis omnis facere blanditiis adipisci facilis recusandae.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse dolorem sunt perferendis earum corporis assumenda dolorum veniam, temporibus est ipsa quisquam unde, perspiciatis voluptate obcaecati vero reiciendis omnis facere blanditiis adipisci facilis recusandae.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse dolorem sunt perferendis earum corporis assumenda dolorum veniam, temporibus est ipsa quisquam unde, perspiciatis voluptate obcaecati vero reiciendis omnis facere blanditiis adipisci facilis recusandae.</p>
  </div>
  <div class="img-intro">
      <img src="../../../images/portfollio/developer.jpg" alt="">
  </div>
</div>
<div id="contactme">
  <div class="contact-input">
      <p>
          <span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span>
          <span>m</span><span>e</span>
      </p>
      <p>
          If someone is interested in my project and want to discuss business with
          me then take a deep breath and sleep. Because i am not available (Its
          dummy text not real)
      </p>
      <div class="flex first-fields">
          <input type="text" placeholder="Name" />
          <input type="text" name="" id="" placeholder="Email" />
      </div>
      <div class="input-area">
          <input type="text" name="" id="" placeholder="Subject" />
          <textarea name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
      </div>
      <button>Hire Me</button>
  </div>
  <div class="maps">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13623.737161217823!2d71.42988813424535!3d31.388375320169125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x392438fa87b1fec9%3A0x8e5728bdddb32975!2sMankera%2C%20Bhakkar%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1651812683545!5m2!1sen!2s"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</div>
