<div id="skills" data-template="site/skills">
  <div id="myskill">
    <div class="skill-text">
      <p>
        <span>S</span><span>k</span><span>i</span><span>l</span><span>l</span
        ><span>s</span> <span>&</span> <span>E</span><span>x</span><span>p</span
        ><span>e</span><span>r</span><span>i</span><span>e</span><span>n</span
        ><span>c</span><span>e</span>
      </p>
      <p>
        Since beginning my journey as a freelance developer nearly 10 years ago,
        I’ve done remote work for agencies, consulted for startups, and
        collaborated with talented people to create web products for both
        business and consumer use
      </p>
      <p>
        I create successful responsive websites that are fast, easy to use, and
        built with best practices. The main area of my expertise is front-end
        development, HTML, CSS, JS, building small and medium web apps, custom
        plugins, features, animations, and coding interactive layouts.
      </p>
      <p>
        I also have full-stack developer experience with popular open-source CMS
        like (WordPress, Drupal, Magento, Keystone.js and others) .
      </p>
      <p>
        Visit my <a href="#">Linkedin</a> profile for more details or just
        <a href="#">Contact</a> me
      </p>
    </div>
    <div class="skill-details">
      <div class="detail-list">
        <p>HTML</p>
        <div class="progressbox">
          <span class="progress-bar-line" style="width: 80%"></span>
        </div>
      </div>
      <div class="detail-list">
        <p>CSS</p>
        <div class="progressbox">
          <span class="progress-bar-line" style="width: 80%"></span>
        </div>
      </div>
      <div class="detail-list">
        <p>React-Native</p>
        <div class="progressbox">
          <span class="progress-bar-line" style="width: 90%"></span>
        </div>
      </div>
      <div class="detail-list">
        <p>JavaScript</p>
        <div class="progressbox">
          <span class="progress-bar-line" style="width: 20%"></span>
        </div>
      </div>
      <div class="detail-list">
        <p>WordPress</p>
        <div class="progressbox">
          <span class="progress-bar-line" style="width: 50%"></span>
        </div>
      </div>
    </div>
  </div>
</div>
